* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
}

/* first nav */
.style {
  font-family: "Roboto", Arial, sans-serif;
  background: #fff;
  font-size: 17px;
  line-height: 1.8;
  font-weight: 400;
  color: gray;
}

.firstnav {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  align-items: center;
}

.social {
  width: 176px;
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social a .fb {
  text-align: center;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #95adbe;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  margin-right: 2px;
}

.social a i {
  width: 40px;
  height: 40px;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  margin-right: 2px;
  transition: 1s;
  text-align: center;
  overflow: hidden;
  color: gray;
  padding: 10px;
}

.social a i:hover {
  text-align: center;
  color: #fff;
  width: 40px;
  height: 40px;
  background-color: #95adbe;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  margin-right: 2px;
}

.logo {
  padding-right: 15px;
  padding-left: 15px;
}

.logo a {
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  margin-bottom: 30px;
  font-family: "Lora", serif;
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.logo a span {
  color: #ff7a5c;
}

.logo a small {
  display: block;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 3px;
}
.search {
  display: flex;
}
.search input {
  border: none;
  background: rgba(0, 0, 0, 0.03) !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px;
  padding: 0.75rem;
  outline: none;
  width: 200px;
  height: 52px;
  border-radius: 50px 0px 0px 50px;
}

.search button {
  width: 50px;
  height: 52px;
  background: #95adbe !important;
  border: none;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 0.375rem 0.75rem;
  border-radius: 0 50px 50px 0px;
}

/* second navbar */
.navbar {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
}

nav ul li {
  font-size: 13px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

nav ul li:hover::after {
  animation: menuAnime 1s forwards;
}

nav ul li::after {
  content: " ";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #95adbe;
  left: 0;
  bottom: -2px;
}

@keyframes menuAnime {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

nav ul li a {
  font-weight: 500;
  color: #000000 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Lora", serif;
  opacity: 1 !important;
}

nav ul li a:hover {
  color: #95adbe !important;
}

nav ul li .home {
  color: #95adbe !important;
}

/* section one  */
.secOne {
  width: 100%;
  height: 700px;
  background-image: url("https://preview.colorlib.com/theme/publishingcompany/images/bg_1.jpg.webp");
  /* background-position: 50% 0; */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.secOne {
  display: flex;
  justify-content: center;
}

.secOne .container {
  width: 75%;
  display: flex;
  align-items: center;
}

.text {
  width: 740px;
  height: 279px;
}

.text h3 {
  font-size: 60px;
  color: #000000;
  line-height: 1.1;
  font-weight: 500;
  margin-bottom: 1.5rem !important;
  font-family: "Lora", serif;
}

.text p {
  font-size: 18px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 1.5rem !important;
}

.grey {
  font-family: "Roboto", Arial, sans-serif;
  cursor: pointer;
  background: #95adbe !important;
  border: 1px solid #95adbe !important;
  color: #fff !important;
  box-shadow: none !important;
  font-size: 15px;
  font-weight: 500;
  border-radius: 3px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}

.white {
  font-family: "Roboto", Arial, sans-serif;
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #000000 !important;
  box-shadow: none !important;
  font-size: 15px;
  font-weight: 500;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  vertical-align: middle;
  line-height: 1.5;
}

/* Second section */
.secSecond {
  display: flex;
  justify-content: center;
}

.secSecond .container {
  width: 75%;
  display: flex;
  align-items: center;
}
.card {
  width: 255px;
  height: 331px;
  text-align: center;
}

.pic i {
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 70px;
  line-height: 1.8;
  font-weight: 400;
  color: #000000;
}
